*{
	box-sizing: border-box;
	font-family: inherit;
}

body{
	background: linear-gradient(to bottom, #2C90C4, #31CCB0) no-repeat;
	
	width: 100vw;
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	color: white;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	
	line-height: 1.5;
}

.wrapper {
	min-height: 30%;
	min-width: 30%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.title{
	font-size: 1.8em;
	text-transform: uppercase;
	text-shadow: 2px 1px 1px rgba(0,0,0, 0.4);
}

.btn{
	border: none;
	background-color: #292E91;
	color: white;
	
	font-size: 1.2em;
	text-transform: uppercase;
	padding: .5em 1em;
	margin: 0;
	
	cursor: pointer;

	border-radius: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0, 0.8);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition: .3s ease-in-out;
	transition-property: border-radius, box-shadow;
}

.caret{
	padding-left: 0;
	font-size: 1.8em;
	font-family: monospace;
	
	transition: .3s ease-in-out;
	transition-property: padding;
}

.btn:hover{
	border-radius: 2em;
	box-shadow: 0 0 2px 1px rgba(0,0,0, 0.2);
}

.btn:hover .caret{
	padding-left: 0.2em;
}

.logo{
	display: block;
	max-width: 250px;
}

.title, .link, .btn, .logo {
	animation: reveal 1 linear 1s;
}




@keyframes reveal{
	from{
		opacity: 0;
		transform: translateX(-50%);
	}
	
	to{
		opacity: 1;
		transform: translateX(0);
	}
}