$mq-responsive: true;
$mq-breakpoints: (
	xxs: 0px,
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

@import "~sass-mq";

$primary: #0087B3;
$secondary: #006181;
$ternary: #09c6d6;
$accent: $ternary;
$info: #0c549b;
$error: #B62222;
$warning: #E9D30F;

:export {
	primary: $primary;
	secondary: $secondary;
	ternary: $ternary;
	accent: $accent;
	info: $info;
	error: $error;
	warning: $warning;
}
